@minBodyWidth: 1280px;
@sidbar: #324057;

html {
    background-color: #EBEFF2;

}


/* 导航栏颜色 */
.manage-siderbar-bg {
    background-color: @sidbar;
}

.pointer {
    cursor: pointer;
}

.table_container {
    padding: 1rem;
}